
.image {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid white;
}

.image img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}

.grid {
  padding: 3em 0;
  background-image: linear-gradient(white, #ccc 95%);
}

@media (min-width: 768px) {

  .image {
    width: 20rem;
    height: 20rem;
  }

  .image img {
    width: 20rem;
    height: 20rem;
  }

}
